<!DOCTYPE html>
<script>

  // Fucntion to change the date by X years
  function change_date(years){
    var today = new Date().toISOString().substr(0,10);
    year=today.split("-")[0];
    month=today.split("-")[1];
    day=today.split("-")[2];
    return (Number(year)+ Number(years))+"-" + month + "-" + day;
  }
  // Checks if various date boxes exist and sets min/max values as needed
  // This used to be done in forms attrs but forms get initialised on server boot, so dates based off of
  // current date used server boot date not the actual "today"
  function initiate_dates() {
    var date_rec_box = document.getElementById("id_date_rec");
    var date_use_box = document.getElementById("id_date_used");
    var date_open_box = document.getElementById("id_date_op");
    var date_val_box = document.getElementById("id_val_date");
    var date_fin_box = document.getElementById("id_date_fin");
    var date_start_box = document.getElementById("id_start_date");
    var date_end_box = document.getElementById("id_end_date");
    var rec_range_box= document.getElementById("id_rec_range");
    var open_range_box= document.getElementById("id_open_range");
    var val_range_box= document.getElementById("id_val_range");
    var fin_range_box= document.getElementById("id_fin_range");
    if (rec_range_box != null){
      $('#id_rec_range').daterangepicker({"locale": {"format": "YYYY-MM-DD", "cancelLabel": "Clear"}, "autoUpdateInput": false, 'maxDate':change_date(0)});
      $('#id_rec_range').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
            });
            $('#id_rec_range').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
    }
    if (open_range_box != null){
      $('#id_open_range').daterangepicker({"locale": {"format": "YYYY-MM-DD", "cancelLabel": "Clear"}, "autoUpdateInput": false, 'maxDate':change_date(0)});
      $('#id_open_range').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
            });
            $('#id_open_range').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
    }
    if (val_range_box != null){
      $('#id_val_range').daterangepicker({"locale": {"format": "YYYY-MM-DD", "cancelLabel": "Clear"}, "autoUpdateInput": false, 'maxDate':change_date(0)});
      $('#id_val_range').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
            });
            $('#id_val_range').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
    }
    if (fin_range_box != null){
      $('#id_fin_range').daterangepicker({"locale": {"format": "YYYY-MM-DD", "cancelLabel": "Clear"}, "autoUpdateInput": false, 'maxDate':change_date(0)});
      $('#id_fin_range').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
            });
            $('#id_fin_range').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
    }
    if (date_rec_box != null){
      date_rec_box.min=change_date(-1);
      date_rec_box.max=change_date(0);
    }
    if (date_use_box != null){
      date_use_box.min=change_date(-1);
      date_use_box.max=change_date(0);
    }
    if (date_open_box != null){
      date_open_box.min=change_date(-1);
      date_open_box.max=change_date(0);
    }
    if (date_val_box != null){
      date_val_box.min=change_date(-1);
      date_val_box.max=change_date(0);
    }
    if (date_fin_box != null){
      date_fin_box.min=change_date(-1);
      date_fin_box.max=change_date(0);
    }
  }
  window.onload= function(){
    initiate_dates();
  }
</script>
<html lang="en">
  <head>
	{{ form.media.css }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock meta %}
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock title %}</title>
	{% block ico %}{% endblock ico %}
	{% load staticfiles %}
    <!-- JQuery -->
    <script src="{% static 'base/jquery.min.js' %}"></script>

  <!-- Moment (for date ranges)   -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<!-- Alert Script -->
	<script src="{% static 'base/sweetalert.min.js' %}"></script>
    <!-- Bootstrap -->
		<!-- Latest compiled and minified CSS -->
		<link href="{% static 'base/bootstrap.min.css' %}" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="{% static 'base/bootstrap.min.js' %}" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

  </head>

  <body>
	{{ form.media.js }}
    {% block toolbar %}
    {% endblock toolbar %}
    {% block content %}
    {% endblock content %}
  </body>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}

	{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <script>
      var span = document.createElement("span");
      span.innerHTML='{{ message| linebreaks }}'
      swal({title:"Stock Database", content:span}) </script> {% endif %}

  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}</ul>{{ message }}<ul>{% endif %}
	{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}<li>{{ message }}</li>{% endif %}

    {% endfor %}
	{% endif %}
</ul>
</html>
