{% extends "stock_web/stock.html" %}

{% block content %}

{% load staticfiles %}
<link href="{% static "stock_web/login.css" %}" rel="stylesheet"/>


<div class=container">
  <form action="{{ submiturl }}" method="post" class="form-signin">
    <h4>Login Required</h4>
    {% csrf_token %}
      <table>
         {{ form }}
       </table>
    <input type="submit" class="btn btn-primary" name="login" value="login" />
	<a href="/stock/resetpw" class="btn btn-link" role="button"> Forgot Password?</a>
  </form>
</div>
{% endblock content %}

