{% extends "stock_web/stock.html" %}

{% block content %}
<body>
<div class="container-fluid">
{% for head in header %}
<h4>{{ head }}</h4>
{% endfor %}
    {% for line in newinformation %}
    {{ line  }}</br>
    {% endfor %}
    <div class="row">
      <div class="col-sm-4">

            {% for warning, severe in newwarnings %}
            {% if severe %}<div class="alert alert-danger"><span class="glyphicon glyphicon-ban-circle"></span><strong> WARNING! </strong>
            {% else %}<div class="alert alert-warning"><span class="glyphicon glyphicon-exclamation-sign"></span><strong> Warning! </strong>{% endif %}
            {{ warning }}</div>
            {% endfor %}
      </div>
      <div class="col-sm-8">
      </div>
    </div>

    <form action="{{ submiturl }}" method="post">
      {% csrf_token %}
      <fieldset><legend>{{ heading }}</legend>
          <table onchange="show_accept()">
            {{ form }}
          </table>
        <input type="submit" class="btn btn-success" name="submit" value="save" />
        {% for button, style, url in extrabuttons %}<a class="btn btn-{{ style }}" href="{{ url }}">{{ button  }}<a/>{% endfor %}
        <a class="btn btn-danger" href="{{ cancelurl }}">cancel</a>
      </fieldset>
    </form>
</div>
</body>
<script>
  // Function to show "Acceptance Reason" box if expiry date is within 6 months of date received
  // will also hide it if dates changed to has >6 months
function show_accept() {
  var accept_box = document.getElementById("id_accept_reason");
  var date_rec_box = document.getElementById("id_date_rec");
  var date_exp_box = document.getElementById("id_date_exp");
  var errors = document.getElementsByClassName("errorlist");
  date_exp_box.min=date_rec_box.value;
  if ((date_exp_box.valueAsDate - date_rec_box.valueAsDate <= 15638400000) && (date_exp_box.value!="") && (date_rec_box.value!="")) {
    if (accept_box.style.display === "none") {
      accept_box.style.display = "block";
      accept_box.labels[0].innerHTML = "Acceptance Reason";
    } 
  }
  else {
    accept_box.style.display = "none";
    accept_box.labels[0].innerHTML = "";
    accept_box.value = "";
    // Hides error message if it exists
    if (errors.length!=0){
      var i;
      for (i=0; i < errors.length; i++){
        if (errors[i].children[0].innerText.includes("Acceptance")){
          errors[i].remove()
        }
      }
    }
  }
}

function hide_accept() {
  var accept_box = document.getElementById("id_accept_reason");
  var errors = document.getElementsByClassName("errorlist");
  // won't hide the box if there's an error on the Acceptance Reason box
  var hide = true;
  if (errors.length!=0){
    var i;
    for (i=0; i < errors.length; i++){
      if (errors[i].children[0].innerText.includes("Acceptance")){
        hide = false;
      }
    }
  }
  if (hide == true){
    accept_box.style.display = "none";
    accept_box.labels[0].innerHTML = "";
  }
}
window.onload=hide_accept();
window.onload=initiate_dates();
</script>
{% endblock content %}
