{% extends "stock_web/stock.html" %}

{% block content %}
<script>
  function date_change(){
    var date_start_box = document.getElementById("id_start_date");
    var date_end_box = document.getElementById("id_end_date");
    if (date_start_box != null){
      date_end_box.min=date_start_box.value
    }
  }
</script>
<h4>{{ header }}</h4>

    <form action="{{ submiturl }}" method="post">
      {% csrf_token %}
          <table onchange="date_change()">
            {{ form }}
          </table>
        <input type="submit" class="btn btn-success" name="submit" value="Download .pdf" />
        <input type="submit" class="btn btn-primary" name="submit" value="Download .xlsx" />
        <input type="submit" class="btn btn-danger" name="submit" value="Cancel" />
    </form>

{% endblock content %}















