{% extends "stock_web/stock.html" %}

{% block content %}
<body>
<div class="container-fluid">
{% for head in header %}
<h4>{{ head }}</h4>
{% endfor %}
    {% for line in newinformation %}
    {{ line  }}</br>
    {% endfor %}
    <div class="row">
      <div class="col-sm-4">

            {% for warning, severe in newwarnings %}
            {% if severe %}<div class="alert alert-danger"><span class="glyphicon glyphicon-ban-circle"></span><strong> WARNING! </strong>
            {% else %}<div class="alert alert-warning"><span class="glyphicon glyphicon-exclamation-sign"></span><strong> Warning! </strong>{% endif %}
            {{ warning }}</div>
            {% endfor %}
      </div>
      <div class="col-sm-8">
      </div>
    </div>

    <form enctype="multipart/form-data" action="{{ submiturl }}" method="post">
      {% csrf_token %}
      <fieldset><legend>{{ heading }}</legend>
        <a href="/stock/get_template"> Click here to download a template for uploading reagents </a>
          <table>
            {{ form }}
          </table>
        <input type="submit" class="btn btn-success" name="submit" value="upload" />
        {% for button, style, url in extrabuttons %}<a class="btn btn-{{ style }}" href="{{ url }}">{{ button  }}<a/>{% endfor %}
        <a class="btn btn-danger" href="{{ cancelurl }}">cancel</a>
      </fieldset>
    </form>
</div>
</body>

{% endblock content %}
